* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    letter-spacing: 1.5px;
}

.apresentation {
    width: 100%;
    height: 100vh;
    background: url('../IMG/Photos/background.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apresentation.medium {
    height: 50vh;
}

.recepetion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.recepetion > #saveTheDate {
    width: 250px;
}

.recepetion > #gifts {
    width: 450px;
    margin-top: 65px;
}

.recepetion > #brideGroom {
    width: 600px;
}

.recepetion > h1 {
    font-weight: 400;
    font-size: 22px;
}

.recepetion > a {
    display: none;
}

@media only screen and (max-width: 1200px) {
    .recepetion > #saveTheDate {
        width: 200px;
    }

    .recepetion > #gifts {
        width: 300px;
    }

    .recepetion > #brideGroom {
        width: 500px;
    }
}

@media only screen and (max-width: 700px) {
    .recepetion > #gifts {
        width: 250px;
    }

    .recepetion > #brideGroom {
        width: 370px;
    }

    .recepetion > h1 {
        font-size: 18px;
    }

    .recepetion > a {
        display: flex;
    }
}

main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

main.fullWidth {
    max-width: 100%;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
}

.container.noPadding {
    padding: 0;
}

.container.background {
    height: 100vh;
    padding: 100px 0;
    justify-content: center;
}

@media only screen and (max-width: 900px) {
    .container.background {
        height: max-content;
    }
}

.person {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.person > img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 100%;
    margin-bottom: 10px;
}

.person.big > img {
    width: 250px;
    height: 250px;
}

.person > h1 {
    font-size: 26px;
}

.person > h2 {
    font-size: 20px;
}

.person.big > h1 {
    font-size: 60px;
}

.person.big > h2 {
    font-size: 35px;
}

:root {
    --bluePrimary: #A3C5DF;
    --blueSecondary: #4B7BA8;
    --greenPrimary: #3D4C40;
    --greenSecondary: #859176;
    --pink: #F4AD95;
    --brownPrimary: #9C7460;
    --browSecondary: #AF887E;
    
    --black: #363636;
    --white: #FAFAFA;
}