#mission > h3 {
    width: 700px;
}

@media only screen and (max-width: 700px) {
    #mission > img:first-child {
        width: 40px;
    }

    #mission > img:nth-child(2) {
        width: 250px;
        margin-top: 10px;
    }

    #mission > h3 {
        width: 93%;
        font-size: 16px;
    }
}

#timeline > section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

#timeline > section > article {
    width: 200px;
    height: 130px;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

#timeline > section > article > h1 {
    font-size: 20px;
}

@media only screen and (max-width: 700px) {
    #timeline > img:first-child {
        width: 40px;
    }

    #timeline> img:nth-child(2) {
        width: 250px;
        margin-top: 10px;
    }
}

#visual > h3 {
    width: 700px;
}

#visual > img:first-child {
    width: 40px;
}

@media only screen and (max-width: 700px) {
    #visual > img:first-child {
        width: 40px;
    }

    #visual > img:nth-child(2) {
        width: 180px;
        margin-top: 10px;
    }

    #visual > h3 {
        width: 93%;
        font-size: 16px;
    }
}

.containerVisual > img:first-child {
    width: 40px;
}

.containerVisual > section {
    display: flex;
    gap: 30px;
}

.containerVisual > section > div {
    flex: 1;
    gap: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.containerVisual > section > div > article {
    width: 200px;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerVisual > section > div > article > h1 {
    font-size: 20px;
}

.containerVisual > section > div > img {
    height: 100%;
    border-radius: 10px;
}

@media only screen and (max-width: 700px) {
    .containerVisual > img:first-child {
        width: 40px;
    }

    .containerVisual > img:nth-child(2) {
        width: 180px;
        margin-top: 10px;
    }

    .containerVisual > section {
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
    }

    .containerVisual > section#reverse {
        flex-direction: column-reverse
    }

    .containerVisual > section > div {
        flex-direction: row;
        justify-content: center;
    }

    .containerVisual > section > div > article {
        flex: 1;
    }

    .containerVisual > section > div > img {
        width: 60%;
    }
}

#message {
    display: none;
}

#message > img:first-child {
    width: 40px;
}

#message > img:nth-child(2) {
    width: 450px;
}

#message > section {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

#message > section > article {
    padding: 0 50px;
    box-sizing: border-box;
    min-width: 400px;
    flex: 1;
}

@media only screen and (max-width: 700px) {
    #message > img:first-child {
        width: 40px;
    }

    #message > img:nth-child(2) {
        width: 350px;
        margin-top: 10px;
    }
}