#pallete > img {
    width: 400px;
}

#pallete > div {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    box-sizing: border-box;
}

#pallete > div > article {
    min-width: 150px;
    height: 80px;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 700px) {
    #pallete > img {
        width: 300px;
    }

    #pallete > div {
        flex-direction: column;
        gap: 10px;
    }

    #pallete > div > article {
        min-width: 0;
        flex: 1;
    }
}

.list {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.listItem {
    width: 350px;
    height: 500px;
    box-sizing: border-box;
    padding: 10px;
    background-color: #FFF;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.listItem.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.listItem > img {
    max-width: 250px;
}

.listItem > img[src='IMG/Products/kitvaso.webp'],
.listItem > img[src='IMG/Products/adega.webp'],
.listItem > img[src='IMG/Products/garrafa.webp'],
.listItem > img[src='IMG/Products/lixo.webp'],
.listItem > img[src='IMG/Products/purificadorar.webp'],
.listItem > img[src='IMG/Products/cestorattan.webp'],
.listItem > img[src='IMG/Products/ventilador.webp'],
.listItem > img[src='IMG/Products/copomedidor.webp'] {
    width: 150px;
}

.listItem > h2 {
    font-size: 20px;
}

.listItem > h1 {
    font-size: 24px;
}

.listItem > a {
    padding: 13px 50px
}