form {
    width: 40%;
}

form > div {
    width: 100%;
}

form label {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
}

form label > input {
    width: 100%;
}

form > label > button {
    font-size: 20px;
}

article {
    max-width: 600px;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 700px) {
    form {
        width: calc(100% - 40px);
    }

    #imgConfirmation {
        width: 350px;
    }
}